
<div class="t4s-close-overlay t4s-op-0 cart-confirmation-overlay"></div>{% comment %}  is--visible to show overlay {% endcomment %}
<div class="popup-wrapper t4s-drawer t4s-popup-show cart-conformation-popup" aria-hidden="true"> {% comment %} area-hidden="true" to show popup {% endcomment %}
  <div class="t4s-text-center t4s-drawer__header">
  <p>All Full Access Products will be will be removed from CART</p>
  </div>
  <div class="t4s_field t4s_mb_20">
  <div class="confirm-command-btn t4s-btn-custom t4s-btn-full-width t4s-btn-style-primary" data-path="">Confirm</div>
  </div>
  <div class="cancel-comman-btn t4s-d-inline-block">Cancel</div>
</div>