<button class="login-purchase-button is-btn-full-width" style="display:none;">
  <a href="">Log In to Purchase</a>
</button>
<button class="select-student-button is-btn-full-width">
  <a href="">Select Student</a>
</button>
<button class="student-enrolled-button is-btn-full-width" style="display:none;">
  <a href="">Student Already Enrolled</a>
</button>
<button class="student-active-button is-btn-full-width" style="display:none;">
  <a href="">Student Already Active</a>
</button>
<button class="student-enroll-free-button is-btn-full-width" style="display:none;">
  <a href="">Assign for Free</a>
</button>
