<form class="lead-form-wrapper" id="clickdimensionsForm" name="clickdimensionsForm" method="post" accept-charset="utf-8" enctype="multipart/form-data" action="https://analytics.clickdimensions.com/forms/?visitor=lead"><input type="HIDDEN" name="cd_accountkey" id="cd_accountkey" value="am16GKekUj0f681oTWHSQ" /><input type="HIDDEN" name="cd_domain" id="cd_domain" value="aop.com" /><input type="HIDDEN" name="cd_visitorkey" id="cd_visitorkey" value="" /><input type="HIDDEN" name="cd_visitoremail" id="cd_visitoremail" value="" /><input type="HIDDEN" name="cd_timezone" id="cd_timezone" value="" /><input type="HIDDEN" name="cd_utm_source" id="cd_utm_source" value="" /><input type="HIDDEN" name="cd_utm_campaign" id="cd_utm_campaign" value="" /><input type="HIDDEN" name="cd_utm_medium" id="cd_utm_medium" value="" /><input type="HIDDEN" name="cd_utm_term" id="cd_utm_term" value="" /><input type="HIDDEN" name="cd_utm_content" id="cd_utm_content" value="" /><input type="HIDDEN" name="cd_domainalias" id="cd_domainalias" value="web.aop.com" /><input type="HIDDEN" name="cd_postsettings" id="cd_postsettings" value="NWVOeVIxUlQ4dHVZZjM2aGNCcVMvS0g0NTRuenJmS1JIT1VpazdrYW4zNS9LS211YUZhTDM2U0J4OGFVVEFrcStlYU5TU1N0emtPUWFvTDBlbjQydGkvbmsvNEkrdGR5TlR1VEhtdE5wWEJQdTlIUklWaEk1OEkrRURMa04yWVFHeTU3RHpMS016MEd2MVdnTGJYSE52NXVkUGxhSjBwY0dlRDNHYzdBTkNBdXh4SE1iYnVRemRRTndsWDAwNksvMXBUZElsTldSYXFUSFBxLy85RjRhdDZZSHZVdDZIN3BSdnloRU0rcnRHaUszbklRZ3QxZlBTdVJVUnppYS9DRjVrT2diNWhVRTdKQW55emhwZVhGQ1M3T3QxYnpHQWNOWDdIQk1BMWdoeWd5QkhUaEZ3SU9zdXVuZ2MvZ1NwL1huSnE4Kzh5VE5NSms3WWJnTGoyL1hiZHZuNmNPbktSOFltNXdHdnZCcktKaFdhd3YxK0pGV3owb0V5RUM3NFR6MS8rWmpBbys5TlkzbVBINFJGdFpYd1hGdUg3ZkhldHl0UXdOdjd3RTd3ZUwzSzMxZis0Y1ZYL0R6VFlQTk1KWFFtc09rbnZoMk1YZk02OU54NEhpZGNOUDdURE1JaTA2U1RFOFFBajk0N3JuRHZsRnIxRTBoYTVKNVFNUjVsUEx2dlQxQ0kxOEduWDhDaG1wQ09uY1pCUlBIM0VYOFQyV1MvMTBTbXdkVFp4c3Y1dGEzTHpiMnRVUFlqd1hESkVid0RZWDE4YjI0V3EzMW1VV3lnVSsxKzJGK0dYNGw0TFRzOFVJcGlWU1h3djY3YXc3Y3VOMVkrY1pRblJBSjJ1Zkd3UkpYT2lXcExTa2lSZmxKejJodGwrandKSnRGbWRzUVNzOWJSRFM5R2NSOHFQYWJUQWRUd2haMjFoNHliQkg5QjlLNEk1bWtwRzRrVFlIVXhiSFlnZ0xITEVZd2psdWVpempSeXlBVmlKRi9YUHF6QitsREM1YzhPZmF2NVIwVWhTZW4rTTlhQzJvcmhtQVhoT09OZXU3dkhXUlBjM3c5Wms2K1VPTkVPQXBNd1podGRPYjloRlM5aGROQWVEYjdObW1XbFFLOHdUWk83M08yWEcySzBGRzBnYjVsNVdNZ3R0dS9QUEhsSEVBVE40Y3hSR3FWLzI4QWlQQ3lvNDR3bSt4b3lTVmloSEU3eW5UeHVreHRuTE9PRGQ0WGFCd3lZODBBekhvNDhFZDhrNmxiVUZUNXJFM2FFYm5OSnE3Rkp1SGJxcFIycUtFaHNhUkVhVTRNVkxsTE9wUFo1TFllWWxZYnR4THRQQkwyOHFqQVV3cjZVVFFTbzJDZ0ZEY1BFUGdFeTBUUHEvakFzbGM0VEpWQnlLMlU2c0VyeWNUckFqSktOdkRVaTZQbTgybXVpZXk3RGl1Q1JTVlNydEdCK3M2NnlYOERpSTFMcFV5clNOT3ZKQXFoMGwrZmdnUWtFUFFXR3FtenZiazhKQmpLVHVwdlZJZ1RkRmhBWDNOQWRjSElnWGtqaGkwUThISGwyanNOcERZak5aZTNaRWxJMGRvVFFpS0lrak94R1hjUzJHNVJadk9URmxyVGpHTHBaZHJ1alRpbDM4OGkrdzBGb1AzUHd5UjZqSk1SaklEUG42Z2JrcGxYeEJlSjV2Ui8vcm9CV3g2U29xQ2VlRDlLYmxpcFJvVFE5dzJMazlxZmRzZi9vWlAzU1NwZVpnZVYvVHR5MW5LMXNhUmZYcllGQWptYWtpSDE2VEl2YlV4UDNyY0RvbWhiTDlwK01aS0JIZFBOVmNNVUZnNGR3b2N1TFAvTzFkQ1F0Zz0=" /><input type="text" id="cd_ht_text" name="cd_ht_text" value="" style="display:none;" /><div class="responsiveRow inputcell"><div class="responsiveCell responsiveCellSize1">
          <div class="clear"> </div>
          <div colspan="1" class="alignTop minSize1">
            <div id="cont_id_f_2dc0374ecc74e811812ce0071b66cf61">
              <input placeholder="Enter Your Email" leadField="emailaddress1" contactField="emailaddress1" class="maxSize1 width100per EmailComponent" type="text" id="f_2dc0374ecc74e811812ce0071b66cf61" name="f_2dc0374ecc74e811812ce0071b66cf61" aria-label="Email" aria-required="true" aria-invalid="false" maxlength="100" style="font-family:Verdana;" value="" onkeypress="return onFieldKeyPress(event)" />
              <div id="required_info_f_2dc0374ecc74e811812ce0071b66cf61" class="requiredInfo floatLeft"> 
    </div>
              <input type="hidden" name="reqField" value="f_2dc0374ecc74e811812ce0071b66cf61" alt="Email" req="true" errorMsg="Please enter a valid value." requredErrorMsg="This field is required. Please enter a value." patternID="1" customRegex="" filterFreeEmail="False" />
            </div>
          </div>
        </div>
        <div class="responsiveCell responsiveCellSize1 emptyCell"> </div>
        <div class="responsiveCell responsiveCellSize1 emptyCell"> </div></div><div class="responsiveRow buttoncell">
          <div style="text-align:right;" class="responsiveCell responsiveCellSize1">
            <div class="buttonContainer">
              <input type="button" id="btnSubmit" value="Submit" onclick="SendForm(this, &quot;clickdimensionsForm&quot;, &quot;Form&quot;);" />
            </div>
          </div>
          <div class="responsiveCell responsiveCellSize1 emptyCell"> </div>
          <div class="responsiveCell responsiveCellSize1 emptyCell"> </div>
        </div>
<div class="clear"> </div>
      </form>
{% comment %}
<!-- BELOW FORM SUBMITTING & REDIRECTS TO AOP.COM -->
<form
  class="lead-form-wrapper"
  id="clickdimensionsForm"
  name="clickdimensionsForm"
  method="post"
  accept-charset="utf-8"
  enctype="multipart/form-data"
  action="https://analytics.clickdimensions.com/forms/?visitor=lead"
>
  <input type="HIDDEN" name="cd_accountkey" id="cd_accountkey" value="am16GKekUj0f681oTWHSQ">
  <input type="HIDDEN" name="cd_domain" id="cd_domain" value="aop-chs.myshopify.com"
  ><input type="HIDDEN" name="cd_visitorkey" id="cd_visitorkey" value=""
  ><input type="HIDDEN" name="cd_visitoremail" id="cd_visitoremail" value=""
  ><input type="HIDDEN" name="cd_timezone" id="cd_timezone" value=""
  ><input type="HIDDEN" name="cd_utm_source" id="cd_utm_source" value=""
  ><input type="HIDDEN" name="cd_utm_campaign" id="cd_utm_campaign" value=""
  ><input type="HIDDEN" name="cd_utm_medium" id="cd_utm_medium" value=""
  ><input type="HIDDEN" name="cd_utm_term" id="cd_utm_term" value=""
  ><input type="HIDDEN" name="cd_utm_content" id="cd_utm_content" value=""
  ><input type="HIDDEN" name="cd_domainalias" id="cd_domainalias" value=""
  ><input
    type="HIDDEN"
    name="cd_postsettings"
    id="cd_postsettings"
    value="NWVOeVIxUlQ4dHVZZjM2aGNCcVMvS0g0NTRuenJmS1JIT1VpazdrYW4zNS9LS211YUZhTDM2U0J4OGFVVEFrcStlYU5TU1N0emtPUWFvTDBlbjQydHBTeFZnUE9mRXVxRVlmN29uMFRwRjVpYXNKYUNmVHBCS09qaktjMjRjYVZKY3RhRE5YRFFNQWM5YWFoQzd0d3JiREU0dnNpcHg1ekNrd2xWYW5MamxHSGljbU4yeHFBRmFuOURUcW16K3d4Mkc3Wm8rNmVSNXU4NTJpSUlQVldWQUFReVVjYWtBLzMrcUN0aWQ1RVdwL05qbjhwZnljTndULzhySWhFTlhNQ2NzSzJYS1M1U0xnbFZIWVo2Umg3ejJLTHZGMWtuanlybit1NnJrbmhoV2p1V0RUQzd2eGNMdWdwMGVlazVqRmdPeUQxeUZ6TUpGcWxlbWpwcnl2Mk1ZNndaa1lTNkdvZWMrZjJFU1h0OVUwbmk4czdqVnRiazZWTUhPSG5wTHJWaWRRcVhDUzV2VHFsRGJRSVFnaFVCM0Rmb0Fyb1VjREJtbUVpMUJKMzBnYlhCMkRDOFJYa0QvWTBGeDdHMTZ3NVg0dEdBY1V4ekV4Z2F4eTlxUEROUTdXam5mMjArMFpVdmhLb1ZqYmZobVJwNTdRSmttL0RpRXhNb3c0ZVVHbjJlL0FvTExaR0RLVmEwdjg0K1YvWW0yMGJ2aFJ2UEdRNHgzcWh2QXJsZktobGdDOVR4WENyQmM0VkhMOW9uTHJFQ2FtTG1YZTZMTE00akJCMFhiN0FuOFh6V1VSV1kxMTNUdi9zV0Q1UG9iVzlmbTdra2MwMVAwbUZweHdFQVJoNzNXMGlFNzhycUMreEFmSDA5YWNqVko2ZHpCMFRMT0o3UTB6Y1JKWTc3bStVTy8zVHByd2hGTzg1a3NpWkJPMEJsWTR2enVBOFg2Nk9aNldGZW5xOWFtVTZvczNjSkFqYnZqanJYbjE2NWJINXFPRWJJZmIzQXR1dU91MVkwSUNoVEcvZjZZNFErTjlhcjNqaHlsMXkxcE5CaURQWUlnc1pyRUFIR0MyRmdpMGFNdFlIRjVMUkp2NGMzV1lBS3JGZnFabG1OVTRTZGlUa3VjWEZKN0dOTG5veEFjUTN0ekNneDBPcVJ6MEx2T3hxRlV2M2lROWxEb0xyMlRHVGVVUjJnRFgvZk5GYmhheEtjK1VRRTBWWW1vT20xTG1sd3ovWXloSkRpNFBGa2pmZHE4TXVoSlJGbGRBT3BndlhZSHJUMnRBTzFtck9qbEpNVGs1eGMvMEJpbEhjb2wrT1pwM2NnTnFDbGtZYmlENUp2Qll6TmNjbEs3S1picXV3SnBZSjZoTy9IMG5BS3NEaDdnOEdPd00wd2tZaHk1S3BrdkNCNlRaaGdlczVaRTZXaGVpTlZlVncyK21QdXdNU1c4U1dwRVZuOXNHM0dZc1NLdGVEUTUwdXh1d0JHb0d0cjNmYlE4QytCK2JlVUNPZk5UYVZXZUJvWlFLTmd6OEJPYWNaZWhkelh2TExxa3pyQ0RIYnhGSnJuR3dsbi9IRmJBUWRLWExscTNIOXhQdUFKaTBCak0zWEpxVWQxN0EzWTJHWTNGS2dnYzEvcVI2NHo0WWpYM3NySzd6UFFlWFNub1FVU1ZMK2FLZEJvN09WUXF5WEY4amlmb2h6NzNPMUR4Ly96MVVHVGVHaTMzV3VrT1Nya0huRldLZDFLMkdTRFF5REdQMDBUSHhZM2ozdkZPK2hpUTZWbTZBZ1lqdlo2RThEMGpyeWE2ZVdmQkR3emlNLzhHZWViWkJuODJSbGhkNEtRK3kyQVFDQzNSST0="

  ><input type="text" id="cd_ht_text" name="cd_ht_text" value="" style="display:none;">
  <div class="responsiveRow inputcell">
    <div class="responsiveCell responsiveCellSize1">
      <div class="alignBottom minSize1" style="display:none;">
        <span class="maxSize1" style="font-family:Verdana; font-weight:normal; font-size:13px; color:#000000;"
          >Email<span class="requiredStar" aria-label="Required Star" aria-required="true">*</span>
        </span>
      </div>
      <div class="clear"></div>
      <div colspan="1" class="alignTop minSize1">
        <div id="cont_id_f_2dc0374ecc74e811812ce0071b66cf61">
          <input
            placeholder="Enter Your Email"
            leadField="emailaddress1"
            contactField="emailaddress1"
            class="maxSize1 width100per EmailComponent"
            type="text"
            id="f_2dc0374ecc74e811812ce0071b66cf61"
            name="f_2dc0374ecc74e811812ce0071b66cf61"
            aria-label="Email"
            aria-required="true"
            aria-invalid="false"
            maxlength="100"
            style="font-family:Verdana;"
            value=""
            onkeypress="return onFieldKeyPress(event)"
          >
          <div id="required_info_f_2dc0374ecc74e811812ce0071b66cf61" class="requiredInfo floatLeft"></div>
          <input
            type="hidden"
            name="reqField"
            value="f_2dc0374ecc74e811812ce0071b66cf61"
            alt="Email"
            req="true"
            errorMsg="Please enter a valid value."
            requredErrorMsg="This field is required. Please enter a value."
            patternID="1"
            customRegex=""
            filterFreeEmail="False"
          >
        </div>
      </div>
    </div>
    <div class="responsiveCell responsiveCellSize1 emptyCell"></div>
    <div class="responsiveCell responsiveCellSize1 emptyCell"></div>
  </div>
  <div class="responsiveRow buttoncell">
    <div style="text-align:right;" class="responsiveCell responsiveCellSize1">
      <div class="buttonContainer">
        <input
          type="button"
          id="btnSubmit"
          value="Submit"
          onclick="SendForm(this, &quot;clickdimensionsForm&quot;, &quot;Form&quot;);"
        >
      </div>
    </div>
    <div class="responsiveCell responsiveCellSize1 emptyCell"></div>
    <div class="responsiveCell responsiveCellSize1 emptyCell"></div>
  </div>
  <div class="clear"></div>
</form>

<script type="text/javascript" src="https://analytics.clickdimensions.com/ts.js"></script>
<script type="text/javascript">
  var cdAnalytics = new clickdimensions.Analytics('analytics.clickdimensions.com');
  cdAnalytics.setAccountKey('am16GKekUj0f681oTWHSQ');
  cdAnalytics.setDomain('aop-chs.myshopify.com');
  cdAnalytics.setScore(typeof(cdScore) == "undefined" ? 0 : (cdScore == 0 ? null : cdScore));
  cdAnalytics.trackPage();
</script>

{% endcomment %}

