<!-- add show-popup class on body and html -->
<div class="t4s-close-overlay t4s-op-0"></div>  <!-- add open is--visible shadow -->
<div id="t4s-consest-modal" class="t4s-drawer t4s-popup-show consent-modal  t4s-drawer__right" aria-hidden="true">  <!-- add open class for open -->
  <div class="t4s-drawer__header">
<h2>Consent Required to Continue</h2>
  <button class="t4s-drawer__close" data-drawer-close="" aria-label="Close sidebar">
 <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="m7.114 7.822-5.246 5.246a.505.505 0 0 1-.344.15.467.467 0 0 1-.364-.15.491.491 0 0 1-.16-.354c0-.13.053-.247.16-.354l5.246-5.246L1.16 1.868a.505.505 0 0 1-.15-.344.467.467 0 0 1 .15-.364.491.491 0 0 1 .354-.16c.13 0 .247.053.354.16l5.246 5.246L12.36 1.16a.505.505 0 0 1 .344-.15.467.467 0 0 1 .364.15c.107.107.16.225.16.354 0 .13-.053.247-.16.354L7.822 7.114l5.246 5.246a.505.505 0 0 1 .15.344.467.467 0 0 1-.15.364.491.491 0 0 1-.354.16.491.491 0 0 1-.354-.16L7.114 7.822z" fill="currentColor" stroke="currentColor" stroke-width=".25"></path>
</svg>
  </button>
</div>
 <div class="t4s-drawer__content">
   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
 </div>
     <button class="login-btn t4s-btn">Provide Consent</button>
 </div>